{% include 'header.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row-mb-12">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">PENERAPAN METODE NAÏVE BAYES UNTUK ANALISIS
                    SENTIMEN TERHADAP ISU UU KESEHATAN DI TWITTER</h6>
            </div>
            <div class="card-body">
                <img src="{{ url_for('static', filename='img/Logo POLIJE (Warna).png') }}"
                    class="img-fluid rounded mx-auto d-block" width="150px" alt="Responsive image">
                <br>
                <p class="text-center" style="font-size: 20px;">
                    Achmad Taufiq Hidayat <br>
                    E41200710
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% include 'footer.html' %}