{% include 'header.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Klasifikasi Naive Bayes</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-sm-12">
            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Klasifikasi Data Tweet</h6>
                </div>
                <div class="card-body">
                    <form method="post" action="" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Upload File</label>
                            <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
                            <small id="" class="form-text text-muted">Upload file hasil labeling berekstensi
                                .csv</small>

                            {% with messages = get_flashed_messages(category_filter=["upload_gagal"]) %}
                            {% if messages %}
                            <small id="" class="form-text text-danger">{{ messages[0] }}</small>
                            {% endif %}
                            {% endwith %}

                            {% with messages = get_flashed_messages(category_filter=["upload_berhasil"]) %}
                            {% if messages %}
                            <small id="" class="form-text text-success">{{ messages[0] }}</small>
                            {% endif %}
                            {% endwith %}

                            {% with messages = get_flashed_messages(category_filter=["klasifikasi_data"]) %}
                            {% if messages %}
                            <small id="" class="form-text text-success">{{ messages[0] }}</small>
                            {% endif %}
                            {% endwith %}
                        </div>
                        <input type="submit" value="Upload Data" name="upload" class="btn btn-primary">
                        <input type="submit" value="Klasifikasi Data" name="klasifikasi" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Visualisasi Data
                <a href="/visualisasi" target="blank"
                    class="d-none d-sm-inline-block btn-sm btn-primary float-right shadow-sm"><i
                        class="fas fa-fw fa-chart-area fa-sm text-white-50"></i> Visualisasi</a>
            </h6>
        </div>
    </div>

    <!-- DataTables Klasifikasi -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Hasil Klasifikasi Kernel Linear
                <a href="{{ url_for('static', filename='files/Data Klasifikasi.csv') }}" target="blank"
                    class="d-none d-sm-inline-block btn-sm btn-primary float-right shadow-sm"><i
                        class="fas fa-download fa-sm text-white-50"></i> Download Data</a>
            </h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for table in tables2 %}
                {{ table|safe }}
                {% endfor %}
            </div>
            <div class="alert alert-success" role="alert" style="margin-bottom: 10px;">
                Akurasi Naive Bayes : {{ accuracy }} %
            </div>
        </div>
    </div>

    <!-- DataTables Confusion Matrix -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Hasil Confusion Matrix
                <a href="{{ url_for('static', filename='files/Data Confusion Matrix.csv') }}" target="blank"
                    class="d-none d-sm-inline-block btn-sm btn-primary float-right shadow-sm"><i
                        class="fas fa-download fa-sm text-white-50"></i> Download Data</a>
            </h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for table in tables %}
                {{ table|safe }}
                {% endfor %}
            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->
{% include 'footer.html' %}